<h1> Report Card </h1>

<ul>
  <li>Name:   <%=@client.name%></li>
  <li>CUID: <%=@client.cu_id %></li>
  <li>NSVers.: <%=@client.nsversion %></li>
  <li>Last Updated: <%=@client.updated_at%></li>
</ul>
<%= link_to 'Index', clients_path %>

